@font-face {
  font-family: "MerriweatherRegular";
  src: url("../fonts/Merriweather-Regular.ttf")
}
@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/Montserrat-Regular.ttf")
}
@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/Montserrat-Medium.ttf")
}
@font-face {
  font-family: "MerriweatherBold";
  src: url("../fonts/Merriweather-Bold.ttf")
}
@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat-Bold.ttf")
}
